BEPIPRED:/var/www/genotate.life/services/bepipred/bepipred
BLAST:/var/www/genotate.life/services/blast/bin
BLASTALL:/var/www/genotate.life/services/interproscan-5.30-69.0/bin/blast/2.2.24
BLASTDB:/var/www/genotate.life/workspace/blastdb
INTERPROSCAN:/var/www/genotate.life/services/interproscan-5.30-69.0/interproscan.sh
JAVA:/var/www/genotate.life/services/javajdk/bin
MHCI:/var/www/genotate.life/services/mhc_i/src/predict_binding.py
MHCII:/var/www/genotate.life/services/mhc_ii/mhc_II_binding.py
NETCGLYC:/var/www/genotate.life/services/netCglyc/netCglyc
NETNGLYC:/var/www/genotate.life/services/netNglyc/netNglyc
PRIAM:/var/www/genotate.life/services/priam/PRIAM_search.jar
PRIAM_DB:/var/www/genotate.life/services/priam/PRIAM_MAR15
PROP:/var/www/genotate.life/services/prop/prop
SABLE:/var/www/genotate.life/services/sable/run.sable
SIGNALP:/var/www/genotate.life/services/signalp/signalp
TMHMM:/var/www/genotate.life/services/tmhmm/bin/tmhmm
RNAMMER:/var/www/genotate.life/services/rnammer/rnammer
TRNASCANSE:/var/www/genotate.life/services/trnascanse/tRNAscan-SE
TRNASCANSE_ENV:/var/www/genotate.life/services/trnascanse/setup.tRNAscan-SE
